@charset "UTF-8";
/* lives */
.js-lives { display: block; padding: 0 1.206rem 0 1.206rem; }
.js-lives .main { margin-bottom: 1.809rem; }
.js-lives .main .control { margin-left: .3343rem; padding: 0 0 2.0056rem 1rem; border-left: #DCDCDC 1px solid; position: relative; margin-bottom: -.2rem; }
.js-lives .main .control .time { margin-bottom: 1.206rem; margin-top: .20056rem; }
.js-lives .main .control .time-detail { display: block; margin-top: .20056rem; margin-bottom: 1.206rem; }
.js-lives .main .control .livesb { font-weight: bold; display: block; margin-bottom: .603rem; }
.js-lives .main .control .resource { margin-top: .603rem; }
.js-lives .main .control .resource ul { float: left; display: block; padding-top: .5rem; }
.js-lives .main .control .resource ul a { color: #397BFF; }
.js-lives .main .control .resource span img { margin: .12rem .2674rem 0 0; }
.js-lives .main .control .content { white-space: normal; word-wrap: break-word; word-break: break-all; }
.js-lives .main .control .content a { display: block; }
.js-lives .main .control .content i { color: #397BFF; }
.js-lives .main .control .content a:hover { color: #333; }
.js-lives .main .control .content a + a { margin-top: .40112rem; }
.js-lives .main .control .content .livesb { font-weight: bold; margin-bottom: .603rem; }
.js-lives .main .control .intro { margin-left: .1rem; }
.js-lives .main .control .intro-detail { margin-left: 0; }
.js-lives .main .control .content-detail { margin-bottom: 1.809rem; white-space: normal; word-wrap: break-word; word-break: break-all; }
.js-lives .main .control .content-detail i { color: #397BFF; }
.js-lives .main .control .content-detail a:hover { color: #333; }
.js-lives .main .control .photo-detail { margin-bottom: 1.206rem; }
.js-lives .main .control .photo-detail span img { margin-right: .2674rem; }
.js-lives .main .control .fig { padding-top: 1.809rem; }
.js-lives .main .control .grade { float: right; padding-top: .20056rem; }
.js-lives .main .control .grade img { width: 7.5377rem; }
.js-lives .main .control .photo { margin-top: 1.206rem; }
.js-lives .main .control .photo a { width: 9.2261rem; max-height: 3.8593rem; display: block; float: left; border-radius: .2674rem; overflow: hidden; margin: 0 .9648rem .9648rem 0; }
.js-lives .main .control .photo img { width: 100%; height: 100%; }
.js-lives .main .control .photo a:nth-child(2n+2) { margin-right: 0; }
.js-lives .main .control .read { padding: .6685rem .6685rem .6685rem 2.6741rem; border: #DCDCDC 1px solid; border-radius: .2674rem; margin-top: 1.33705rem; background: url(../img/read-icon.svg) 0.93593rem 1rem no-repeat; background-size: 1rem; }
.js-lives .main .control .read i { font-weight: bold; display: block; float: left; }
.js-lives .main .control .read .read-con { display: block; margin-left: 2.6741rem; }
.js-lives .main .control ol { float: right; position: relative; }
.js-lives .main .control ol a { padding: .4rem .4011rem .2674rem 1.6rem; color: #999; border-radius: .2674rem; border: #FFF 1px solid; display: block; }
.js-lives .main .control ol a:hover { color: #333; }
.js-lives .main .control ol .rose { background: url(../img/rose.svg) 0.40112rem 0.7rem no-repeat; background-size: .9648rem .603rem; }
.js-lives .main .control ol .rose-h { background: url(../img/rose-h.svg) 0.40112rem 0.7rem no-repeat; background-size: .9648rem .603rem; }
.js-lives .main .control ol .fall { background: url(../img/fall.svg) 0.40112rem 0.66rem no-repeat; background-size: .9648rem .603rem; }
.js-lives .main .control ol .fall-h { background: url(../img/fall-h.svg) 0.40112rem 0.66rem no-repeat; background-size: .9648rem .603rem; }
.js-lives .main .control .addition { position: absolute; top: -.936rem; left: 1.805rem; font-weight: bold; }
.js-lives .main .control .red { color: #c4192d; }
.js-lives .main .control .red a { color: #c4192d; }
.js-lives .main .control .red a:hover { color: #c4192d; }
.js-lives .main .control .green { color: #5da310; }
.js-lives .main .control ol + ol { margin-right: .6685rem; }
.js-lives .main .control span { float: right; margin: .40112rem 0 1.4rem 1.2rem; display: block; }
.js-lives .main .control span a { padding: 0 .3343rem; color: #999; }
.js-lives .main .control-detail { margin-left: 0; padding: 0; border-left: none; }
.js-lives .main .share { position: relative; display: block; }
.js-lives .main .share .share-pop { padding: .80223rem 1.20334rem; width: 6.68525rem; left: -3.6769rem; bottom: 2.0056rem; box-shadow: 0 0.1337rem 0.2674rem 0 rgba(0, 0, 0, 0.5); border-radius: .2674rem; display: block; background: #FFF; position: absolute; }
.js-lives .main .share .share-pop a { width: 1.6047rem; height: 1.6047rem; padding: .4011rem; display: block; float: left; }
.js-lives .main .share .share-pop .qq { background: url(../img/qq-icon.svg) 0.4011rem 0.4011rem no-repeat; }
.js-lives .main .share .share-pop .q-zone { background: url(../img/q-zone-icon.svg) 0.4011rem 0.2674rem no-repeat; }
.js-lives .main .share .share-pop .weibo { background: url(../img/weibo-icon.svg) 0.4011rem 0.4011rem no-repeat; }
.js-lives .main .share .share-pop .weixin { background: url(../img/weixin-icon.svg) 0.4011rem 0.4011rem no-repeat; }
.js-lives .main .share .share-pop a + a { margin-left: 1.33705rem; }
.js-lives .main .grade1 { width: .603rem; height: .603rem; background: #c4192d; border-radius: 100%; position: absolute; left: -.31rem; top: .3rem; }
.js-lives .main .grade2 { width: .603rem; height: .603rem; background: #F29700; border-radius: 100%; position: absolute; left: -.31rem; top: .3rem; }
.js-lives .main .grade3 { width: .603rem; height: .603rem; background: #999; border-radius: 100%; position: absolute; left: -.31rem; top: .3rem; }
.js-lives .main + .title { margin-top: 3.3426rem; }

.js-live-title { height: 2.6533rem; margin-bottom: 1.809rem; }
.js-live-title .date { height: 2.6533rem; float: left; }
.js-live-title .date ul { width: 2.2915rem; height: 2.6533rem; display: block; border-radius: .2674rem; float: left; }
.js-live-title .date ul span { width: 2.54rem; height: 1.337rem; line-height: 1.337rem; background: #c4192d; color: #FFF; display: block; }
.js-live-title .date ul span:nth-child(2) { background: #FFF; color: #333; height: 1.60446rem; line-height: 1.60446rem; padding-bottom: .1337rem; }
.js-live-title .date ul .month { border-radius: .4011rem .4011rem 0 0; }
.js-live-title .date ul .day { width: 2.4067rem; border-radius: 0 0 .4011rem .4011rem; border-left: #DCDCDC 1px solid; border-right: #DCDCDC 1px solid; border-bottom: #DCDCDC 1px solid; }
.js-live-title .date ol { display: block; height: 2.9415rem; margin-left: 3.7rem; }
.js-live-title .date ol .week { color: #333; font-weight: bold; margin-bottom: .3618rem; }
.js-live-title .date ol li:nth-child(2) { color: #999; white-space: nowrap; }
.js-live-title .tabs { padding: .2674rem 0 0 1.206rem; margin-left: 1.206rem; height: 2.9415rem; float: left; border-left: #F5F5F5 1px solid; }
.js-live-title .setup { height: 2.7571rem; float: right; }
.js-live-title .setup ul { float: right; padding-top: .46rem; display: block; position: relative; }
.js-live-title .setup ul .link { padding: 0 .4011rem; display: block; float: right; }
.js-live-title .setup ul .link img { width: 1.024rem; margin-top: .0593rem; }
.js-live-title .setup ul ol { border-radius: .2674rem; display: block; padding: .80223rem 1.20335rem; width: 6.68525rem; box-shadow: 0 0.1337rem 0.2674rem 0 rgba(0, 0, 0, 0.5); background: #FFF; left: -3.35378rem; bottom: -6.0167rem; position: absolute; z-index: 10; }
.js-live-title .setup ul ol li { display: block; height: 1.337rem; padding: .5348rem 0 .5348rem 0; }
.js-live-title .setup ul ol li span { float: left; color: #666; }
.js-live-title .setup ul ol li .switch { float: right; padding-top: 1px; }
.js-live-title .setup ul ol li .switch a { color: #666; display: inline-block; }
.js-live-title .setup ul ol li .switch a:hover { color: #333; }
.js-live-title .setup ul .read { border: #DCDCDC 1px solid; margin-right: .3618rem; padding: .1rem .6rem; color: #999; }
.js-live-title .setup ul .read-active { border: #F29700 1px solid; margin-right: .3618rem; padding: .1rem .6rem; color: #F29700; background: url(../img/read-active.svg) right bottom no-repeat; }
.js-live-title .setup ul .remind { width: 1.9387rem; height: .93593rem; background: #999; padding: 1px; border-radius: .2674rem; }
.js-live-title .setup ul .remind i { width: .93593rem; height: .93593rem; background: #FFF; border-radius: .2005rem; display: block; }
.js-live-title .setup ul .remind-open { width: 1.9387rem; height: .93593rem; background: #F29700; padding: 1px; border-radius: .2674rem; }
.js-live-title .setup ul .remind-open i { width: .93593rem; height: .93593rem; background: #FFF; border-radius: .2005rem; display: block; float: right; }
.js-live-title .setup ul .filter { bottom: -18.5rem; z-index: 11; }
.js-live-title .setup ul .filter a { padding-left: 1.4708rem; color: #666; display: block; }
.js-live-title .setup ul .filter a:hover { color: #333; }
.js-live-title .setup ul .filter .active { background: url(../img/filter-icon.svg) 0 0.2674rem no-repeat; color: #333; font-weight: bold; }
.js-live-title .setup ul .important { border-top: #F5F5F5 1px solid; padding-top: .6685rem; margin-top: .2674rem; }
.js-live-title .setup ul .important a { padding-left: 0; }
.js-live-title .setup ul .important a label { cursor: pointer; }
.js-live-title .setup ul .important a:hover { background: none; }
.js-live-title .setup ul + ul { margin-right: 1.33705rem; }
